/*universal styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    width: 80%;
    margin: 0 auto;
}

/* header section */
.nav-container {
    padding-top: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

ul {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    font-size: 1.3vw;
}

nav li {
    display: inline-block;
    padding: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: darkslateblue;
}

.special {
    border-style: solid;
    border-radius: 10px;
    padding: 8px;
}

/*main container*/
.container {
    display: flex;
    padding-top: 30px;
}

/*info*/

h2 {
    font-size: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    line-height: 25px;
    background-color: blanchedalmond;
    padding: 7px;
    width: 70%;
    box-sizing: content-box;
    margin-top: 30px;
    font-size: 1.2rem;
}

/*button*/
button {
    font-size: 1.5em;
    color: white;
    background-color: darkslateblue;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: ease-in;
    border-width: 3px;
}

button:hover {
    color: darkslateblue;
    background-color: white;
}


/*image*/
.image {
    width: 40vw;
    display: inline-block;
}

/*info cards section*/
.info-cards {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 100px;
    font-size: 1.1rem;  
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    flex-basis: 30%;
}


/* .copyright {
    position: relative;
    left: 64vw;
    font-size: .7em;
    top: 70vh;
} */

@media only screen and (max-width: 480px) {
    /*universal styles*/
    body {
        text-align: center;
    }
    
    /*header*/
    .nav-container {
        display: block;
        font-size: 32px;
    }

    h1 {
        font-size: 10vw;
        border-style: none;
    }

    ul {
        text-align: center;
        font-size: 2rem;
    }


    
    /*hide the image*/
    .image {
        visibility: hidden;
    }

    
}